.TodoItem {
    background-color: #087a97d0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    width: 500px;
  }
  
  .TodoItem-p {
    margin: 24px 0 24px -55px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400px;
  }

  .TodoItem:has(.TodoItem-p--completed) {
    background-color: #043a47d0;
    color: rgb(107, 107, 107);
  }
  .TodoItem-p--completed {
    text-decoration: line-through;
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
  }
  
  .Icon-check {
    position: absolute;
    right: 45px;
    top: -25px;
  }
  .Icon-check:hover {
    color: #4caf50;
  }
  .Icon-check--active {
    color: #4caf50;
  }
  
  .Icon-delete {
    position: absolute;
    top: -24px;
    right: 0;
  }
  .Icon-delete:hover {
    color: rgb(219, 41, 41);
  }